html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
}
#page-header{
    width: 100%;
    text-align: center;
    
}
.row{
    display: flex;
}
#page-nav{
    width: 20%;
}
main{
    width: 50%;
}
#page-aside{
    width: 30%;
}
#page-nav, main, #page-aside{
    border: 1px solid #000;
}